<!DOCTYPE html>
<html>

<head>
	<title>タイムスリップ-無料でガチャを引き直し</title>
	<!-- <meta name="keywords" content="荒野行動，荒野，NetEase荒野，NetEaseゲーム，チーム戦スマホゲーム，荒野行動PC，荒野チーム戦，荒野PC版，戦術競技スマホゲーム，新マップ，高解像度新バージョン，激戦野原，東京マップ，起動，マッチング，プレイ，ゲーム，抽選，宝箱，仲間，報酬，大賞，好運" /> -->
	<!-- <meta name="description" content="荒野宝箱を開け、豊富な報酬を貰いましょう！" /> -->
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="renderer" content="webkit">
	<meta name="author" content="网易，NetEase Inc." />
	<meta name="copyright" content="网易，NetEase Inc." />
	<meta name="pmid" content="" />
	<meta name="designer" content="" />
	<meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <!--for baidu 识别移动端页面并禁止百度转码-->
    <meta name="applicable-device"content="mobile"> 
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--viewport 设置，如果页面实际情况不允许缩放请加上,user-scalable=no-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="dns-prefetch" href="http://res.nie.netease.com">

	<script type="text/javascript">
	  !function(){
	    function params(u, p){
	      var m = new RegExp("(?:&|/?)"+p+"=([^&$]+)").exec(u);
	      return m ? m[1] : '';
		}
		var ua = navigator.userAgent;
        var isSafari = ua.indexOf("Safari") != -1 && ua.indexOf("Version") != -1;
        var isIphone = ua.indexOf("iPhone") != -1 && ua.indexOf("Version") != -1
		var isIPad = isSafari && !isIphone && 'ontouchend' in document; //判断IPad

		//pc 跳转 
	    if(/iphone|android|ipad|ipod/i.test(navigator.userAgent.toLowerCase()) == false && params(location.search, "from") != "desktop" && !isIPad){

	      	if(params(location.search,"page_key")){
	    		// location.href = 'https://www.knivesout.jp/pc/hyxd_junxu/?page_key='+params(location.search,"page_key");
	    	}else{
	    		// location.href = 'https://www.knivesout.jp/pc/hyxd_junxu/';
	    	}
	    }
	  }();

	</script><!--ignore-->

    <link rel="import" href="inline/google.html?__inline" />

</head>

<body>

	<!-- <div id="forhorview">
        <p>推荐使用竖屏浏览哦~</p> 
    </div> -->
	
	<div class="wrap" id="app">
        <!--开场动画-->
		<template v-if="start_show">
			<div class="start_animation">
				<div class="battle_btn" @click="goHome">迎击使徒</div>
			</div>
		</template>
		<!--奖品展示-->
		<template v-if="!start_show&&page_state=='home'">
			<div class="main_box">
				--奖品展示--
				<input type="button" value="开始战斗" @click="goBattle">
			</div>
		</template>
		<template v-if="!start_show&&page_state=='game'">
			<div class="game_box">
				游戏界面
			    <p>ebetaData : {{beta}}</p>
				<p>egammaData : {{gamma}}</p>
				<!-- <p>00:{{count_num < 10 ? ('0' + count_num) : count_num}}: 00</p> -->
				<p>{{count==''? '01:00:00':count}}</p>
				<div class="blood_stick">
				<p :style="{'width': monsterData.blood/10000*100+'%'}"></p>
				</div>
				<div class="game_main">
				    <div class="gametarget_bg_box" ref="gametarget">
						<img src="./img/boom_bg.jpg" alt="" class="gametarget_bg">
						<div class="target" :class="{'target_move':aimData.effect}" ref="target1"></div>
					</div>
					<div class="aim_box">
					    <!-- <img src="./img/boom.jpg" alt="" class="aim" ref="aim" :style="{'left': egammaData + 'px', 'top': ebetaData + 'px'}"> -->
					    <img src="./img/boom.jpg" alt="" class="aim" ref="aim" :style="{'transform': 'translateX(' + egammaData + 'px)'+'translateY(' + ebetaData + 'px)'}">
				    </div>
				</div>
				<input type="button" value="射击" class="shooting" @click="shooting" >
			</div>
		</template>
		<!--弹层-->
		<link rel="import" href="inline/pop.html?__inline" />

	</div>
	
	<!-- JS放底部-->
	<script src="https://nie.res.netease.com/comm/js/zepto(mixNIE).last.js"></script>
	<script src="https://nie.res.netease.com/comm/js/nie/ref/??vue.2.5.0.js,vuex.3.0.1.js,vue-router.3.0.1.js,axios.js,axios-jsonp.js"></script>
	<script src="https://nie.res.netease.com/comm/js/nie/util/mshare/index.js"></script>  <!-- 国服 -->
	<script src="https://nie.res.netease.com/comm/load/myLogin.js"></script>
</body>

</html>